<p>Hi <%= @user.email %>,</p>

<p>We are getting in touch to let you know your trade has been accpted by the cooperative</p>
<%# inserir o restante dos dados da trade  %>

<p>Thank you for you effort!</p>
