<p>Hi <%= @user.email %>,</p>

<p>We are getting in touch to let you know your trade has been denied.</p>
<p>We suggest you to take a better look at the cooperative description in our website and check if your trade obey their requirements.</p>
<p>You will need to do a new requirement ok? This one is being canceled.</p>
<%# inserir o restante dos dados da trade  %>

<p>Thank you for you effort!</p>
