<p>Hi <%= @user.email %>,</p>

<p>Your trade has been denied.</p>
<p>Check the cooperative description in our website and create a new trade following their direction.</p>
<%# inserir o restante dos dados da trade  %>

<p>Thanks for your effort :)</p>
