<div class="bg-dark">
  <div class="container text-center text-white py-3">
    <p class="mb-0">Made with <i class="fa-solid fa-heart"></i> by <b>Le Wagon</b> students in 2022 &#8194;&#8226;
    <a href="https://github.com/sinkpig/rethink-your-trash" class="text-white text-decoration-none ms-1"><i class="fa-brands fa-github"></i> Github</a></p>
  </div>
</div>
