<h1>index de cooperative_materials</h1>

<% if @cooperative_materials.nil? %>
  <p>You still need to add the materials you accept to your list</p> %>
<% else %>
  <p>qualquer coisa</p>
<% end %>
  <%# <% @cooperative_materials.each do |cooperative_material| %> %>
    <%# <%= cooperative_material.material.name %> %>
  <%# <% end %> %>
<%# <% end %>

<%# <p>Want to add new materials to your list?</p> %>
<%# <%= f.input :cooperative_material, collection: ["Paper", "Plastic", "Metal", "Bateries", "Glass", "Organic", "Clothes", "Eletronic", "Carton", "Blisters", "Toxic", "Others"], label: false %> %>
<%# <%= f.submit "Add" %> %> %>
