<div class="col-auto">
  <div class="card justify-content-center text-center border-0" style="background-color: transparent;">
    <div class="card-body p-1 position-relative">
      <div class="d-inline-flex">
        <div class="d-flex align-items-center justify-content-center mb-2 bg-white rounded-circle" style="width: 50px; height: 50px;">
          <%= image_tag "icon_#{cooperative_material.material.name.downcase}.png", width: "30px" %>
        </div>
      </div>
      <%= link_to cooperative_material_path(cooperative_material), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "position-absolute top-0" do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
      <h6 class="card-title mb-0"><%= cooperative_material.material.name %></h5>
    </div>
  </div>
</div>
