<div class="container">
  <% if current_user.person? %>
    <h1>Hi <%= current_user.name %></h1>

    <div class="container">
      <h4>Your trades:</h4>
        <% if @trades == 0 %>
          <p>You don't have any opened trades</p>
        <% else %>
          <%= render "trades/trades_cards" %>
        <% end %>
    </div>

    <div class="container">
      <h4>List of materials:</h4>
      <% @materials.each do |material| %>
      <%= material.name %><br>
      <% end %>
    </div>

    <div class="container">
      <h4>All the cooperatives close to you:</h4>
    </div>

  <% else %>
    <%# view da home da cooperativa %>
    <%# <% render "profile" ? %>

  <% end %>
</div>
