  <div class="container">
    <h1><%= current_user.name %></h1>
    <h5><%= current_user.address %></h5>
  </div>

<div class="container">
  <% if current_user.cooperative? %>
    <h3><%= current_user.description %></h3>
  <% end %>
</div>

  <%# SHOW ALL TRADES %>
  <div class="container">
    <h4>Your trades:</h4>
      <% if @trades == 0 %>
        <p>You don't have any opened trades</p>
      <% else %>
        <%# IF COOPERATIVE, EDIT TRADES STATUS %>
        <%= render "trade" %>
      <% end %>
  </div>

  <%# IF PERSON, SHOW COINS %>

  <div class="container">
    <% if current_user.person?%>
      <p>Your wallet:</p>
    <% end %>
  </div>
