<div class="col-lg-6">
  <div class="card border-0 mb-2" style="max-width: 800px;">
    <div class="card-body">
      <div class="d-flex">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar me-3", style: "width: 50px; height: 100%;" %>
        <div >
          <%= link_to cooperative_path(cooperative), class: "text-decoration-none stretched-link" do %>
            <h4 class="card-title"><%= cooperative.name %></h4>
          <% end %>
          <h6 class="card-text fw-normal"><%= cooperative.address %></h6>
          <h6>Accepted materials</h6>
          <% 4.times do %>
            <span class="badge rounded-circle text-bg-success fs-6">o</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
