<div class="card mb-2" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      #<img src="..." class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-6">
      <div class="card-body">
      <%= link_to cooperative.name, cooperative_path(cooperative) %>

        <h5 class="card-text"><%= cooperative.description %></h5>
      </div>
    </div>
  </div>
</div>
