<div class="container py-5">
  <div class="d-flex justify-content-between">
    <h1 class="mb-3">Cooperatives<h1>

    <%= form_with url: cooperatives_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control bg-white", placeholder: "Search cooperatives" %>
      <%= button_tag class: "btn btn-success rounded-0", type: "submit" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

  </div>
  <div class="row justify-content-start">
    <% @cooperatives.each do |cooperative| %>
      <%= render 'cooperative', cooperative: cooperative %>
    <% end %>
  </div>
</div>
