<h1>Available cooperatives<h1>

<div class="container overflow-hidden">
  <div class="row g-2">
    <div class="col">
      <% @cooperatives.each do |cooperative| %>
        <%= render 'cooperative', cooperative: cooperative %>
      <% end %>
    </div>
  </div>
</div>
