<div class="container py-5">
  <div class="d-flex justify-content-between">
    <h1 class="mb-3">Cooperatives<h1>
    <form class="input-group mb-3">
      <input type="text" class="form-control bg-white" placeholder="Search cooperatives" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-success" type="button" id="button-addon2">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

  </div>
  <div class="row justify-content-center align-items-center">
    <% @cooperatives.each do |cooperative| %>
      <%= render 'cooperative', cooperative: cooperative %>
    <% end %>
  </div>
</div>
