<div class="mx-auto" style="width: 500px;">

  <h2><%= @cooperative.name %></h2>

    <div class="container-md">
      <div class="clearfix" >

        <% if @cooperative.name == "Cooperativa Ãgua Branca" %>
          <p>We are a cooperative in Sao Paulo/SP made by individual entrepreneurs organized and
          legally constituted in a cooperative with the purpose of collecting,
          segregating and selling recyclable materials, minimizing environmental impacts in the final disposal
          of solid waste.</p>
        <% end %>

        <p>Accepted materials</p>

        <p>Our contacts</p>

        <%= link_to "Trade with me",  new_cooperative_trade_path(@cooperative), class: "btn-btn-primary" %>

      </div>
    </div>
</div>
