<div class="col-4 mb-3">
  <div class="card text-center border-0">
    <div class="card-body">
      <%= image_tag "icon_#{material.name.downcase}.png", class: "mb-3", width: "50px" %>
      <h5 class="card-title fw-bold"><%= material.name %></h5>
      <button type="button" data-bs-toggle="modal" data-bs-target="#<%= material.name.downcase %>" class="btn btn-primary rounded-pill">More info</button>
    </div>
  </div>
</div>
